/*-
 * #%L
 * Toolkit :: API :: Report
 * %%
 * Copyright (C) 2017 - 2024 Ultreia.io
 * %%
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public
 * License along with this program.  If not, see
 * <http://www.gnu.org/licenses/gpl-3.0.html>.
 * #L%
 */
.config-panel {
    padding: 10px;
    margin: 10px 0;
    background: #fcfcfc;
    border: 1px solid #e9e9e9;
    display: inline-block;
}

.config-panel label {
    margin-right: 10px;
}

td.gridjs-td {
    background-color: transparent;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover td {
    background-color: rgba(0, 0, 0, 0.1);
}

tr td:hover {
    color: #fff;
}

th:hover {
    background-color: #999;
    color: #fff;
}

tr:hover td[class~="cellNull"] {
    background-color: rgb(160, 160, 160);
}

tr:hover td[class~="cellWarning"] {
    background-color: rgb(255, 175, 10);
}

tr:hover td[class~="cellError"] {
    background-color: rgb(255, 10, 10);
}


td.cellNull {
    background-color: rgb(128, 128, 128);
}


td.cellWarning {
    background-color: rgb(255, 165, 0);
}

/*td:has(span.cellWarning):before {*/
/*padding-right: 8px;*/
/*content: "\26A0";*/
/*}*/


td.cellError {
    background-color: rgb(255, 0, 0);
}

/*td:has(span.cellError):before {*/
/*padding-right: 8px;*/
/*content: "\26D4";*/
/*}*/

-->

.widget {
    position: relative;
    background: white;
    padding: 0;
    margin: 0;
}

.widget-tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: left;
    direction: rtl;
    border-bottom: 1px solid #ddd;
}

.widget-tab,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    line-height: 36px;
    font-weight: normal;
    color: #999;
    background: #fcfcfc;
    border: solid #ddd;
    border-width: 1px 1px 0;
    border-radius: 5px 5px 0 0;
    bottom: auto;
}

.widget-tab > .widget-tab-link,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child ~ .widget-tab > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) ~ .widget-tab > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child ~ .widget-tab > .widget-tab-link {
    margin: 0;
    border-top: 0;
}

.widget-tab + .widget-tab {
    margin-right: -1px;
}

.widget-tab:last-child,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2),
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child {
    bottom: -1px;
    margin-top: 0;
    padding-bottom: 2px;
    line-height: 34px;
    font-weight: bold;
    color: #555;
    background: white;
    border-top: 0;
}

.widget-tab:last-child > .widget-tab-link,
.widget-list:target:first-of-type ~ .widget-tabs > .widget-tab:first-child > .widget-tab-link,
.widget-list:target:nth-of-type(2) ~ .widget-tabs > .widget-tab:nth-child(2) > .widget-tab-link,
.widget-list:target:last-of-type ~ .widget-tabs > .widget-tab:last-child > .widget-tab-link {
    margin: 0 -1px;
    border-top: 4px solid #0275d8;
}

.widget-tab-link {
    display: block;
    min-width: 60px;
    padding: 0 15px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

.widget-list {
    display: none;
    padding-top: 45px;
    margin: 0
}

.widget-list:last-of-type {
    display: block;
}

.widget-list:target {
    display: block;
}

.widget-list:target ~ .widget-list {
    display: none;
}
