<ul class="breadcrumb">
    <li><a href="../../..">Home</a></li>
    <li><a href="../..">       {{parent.parent.name}}</a></li>
    <li><a href="..">module    {{parent.name}}</a></li>
    <li>Request {{name}}</li>
</ul>