<head>
    <meta charset="UTF-8">
    <title>{{parent.name}} - Request {{name}}</title>
    <link rel="stylesheet" href="../../doc.css"/>
    <link rel="stylesheet" href="../../json-formatter.css"/>
    <script type="application/javascript" src="../../doc.js"></script>
    <script type="application/javascript" src="../../json-formatter.umd.js"></script>
</head>