<tr>
    <td class="optional">config.serializeNulls</td>
    <td>
        <p>Optional flag to add in result <code>null</code> properties.</p>
        <p>Possible values are</p>
        <ul>
            <li><code>true</code></li>
            <li><code>false</code></li>
        </ul>
        <p>If none value is specified, default value is <code>false</code>.</p>
    </td>
</tr>
