<tr>
    <td class="optional">config.caseSensitive</td>
    <td>
        <p>Optional flag to make search case sensitive.</p>
        <p>If none value is specified, default value is <code>false</code>.</p>
    </td>
</tr>