<tr>
    <td class="mandatory">filters</td>
    <td>
        <p>Mandatory parameter to filter on some properties (keys are propertyName, values are filter values).</p>
        <p>Result can be zero, one or many data of this type.</p>
        <p>See <a href="#filter-filters">Filter properties</a> for more details.</p>
        <hr/>
        <p class="warning" style="font-size: large; color: red">Any property ending by <code>_id</code> which represents an id must be url encoded
        ( all <strong>#</strong> characters must be replaced by <strong>-</strong> ).</p>
        <hr/>
        <p>Example: <i>filters.code=22</i></p>
        <p>Example: <i>filters.code=22,filters.needComment=true</i></p>
    </td>
</tr>