<tr>
    <td class="optional">referentialLocale</td>
    <td>
        Optional locale used to decorate result if required.
        <div>
            <p>Possible values are</p>
            <ul>
                <li><code>fr_FR</code></li>
                <li><code>en_GB</code></li>
                <li><code>es_ES</code></li>
            </ul>
            <p>If none value is specified, will then use the default referential locale of the server.</p>
        </div>
    </td>
</tr>