<h2>Available requests:</h2>
<table>
    <thead>
    <tr>
        <th>scope</th>
        <th>data</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    {{#requests}}
        <tr>
            <td>{{dataScope}}</td>
            <td>{{parentRelativeName}}</td>
            <td><a href="{{relativeName}}"><code>{{name}}</code></a></td>
        </tr>
    {{/requests}}
    </tbody>
</table>
<p><a href="#top" class="top" title="Up to top"></a></p>
