<div id="definition" class="widget">
    <div class="widget-list widget-list-table" id="definition-view">
        <div id="definition-source"></div>
    </div>
    <ul class="widget-tabs">
        <li class="widget-tab"><a href="#definition-view" class="widget-tab-link">Data definition</a>
    </ul>
    <script type="application/javascript">loadTypeDefinitionContent("definition", "validation-create", "validation-update");</script>
</div>
<p><a href="#top" class="top" title="Up to top"></a></p>