<h3>Example</h3>
<div id="example-request" class="widget">
    <div class="widget-list widget-list-json" id="example-request-raw">
        <div><pre id="example-request-raw-source"></pre></div>
    </div>
    <div class="widget-list widget-list-json" id="example-request-view">
        <div><pre id="example-request-view-source"></pre></div>
    </div>
    <ul class="widget-tabs">
        <li class="widget-tab"><a href="#example-request-raw" class="widget-tab-link">Raw code</a>
        <li class="widget-tab"><a href="#example-request-view" class="widget-tab-link">Request</a>
    </ul>
</div>
<div id="example-response" class="widget">
    <div class="widget-list widget-list-json" id="example-response-raw">
        <div><pre id="example-response-raw-source"></pre></div>
    </div>
    <div class="widget-list widget-list-json" id="example-response-view">
        <div><pre id="example-response-view-source"></pre></div>
    </div>
    <ul class="widget-tabs">
        <li class="widget-tab"><a href="#example-response-raw" class="widget-tab-link">Raw code</a>
        <li class="widget-tab"><a href="#example-response-view" class="widget-tab-link">Response</a>
    </ul>
</div>
<script type="application/javascript">loadContent("example-request");loadContent("example-response");</script>
<p><a href="#top" class="top" title="Up to top"></a></p>
