<h3 id="filter">Filter description</h3>
<p>Describes filters for this data.</p>
<div id="filter-definition" class="widget">
    <div class="widget-list widget-list-table" id="filter-filters">
        <div id="filter-filters-source">
            <table class="filters-table">
                <thead>
                <th>Filter property name</th>
                <th>Filter type</th>
                <th>Filter format</th>
                <th>Filter operations</th>
                <th>Filter description</th>
                </thead>
                <tbody>
                {{#filterConsumers}}
                    <tr>
                        <td>{{{propertyKey}}}</td>
                        <td>{{{propertyType}}}</td>
                        <td>{{{propertyFormat}}}</td>
                        <td>{{{propertyFlavors}}}</td>
                        <td>{{{propertyDescription}}}</td>
                    </tr>
                {{/filterConsumers}}
                </tbody>
            </table>
        </div>
    </div>
    <ul class="widget-tabs">
        <li class="widget-tab"><a href="#filter-filters" class="widget-tab-link">Filter filters</a>
    </ul>
</div>
<p><a href="#top" class="top" title="Up to top"></a></p>