<div class='footer'>
    <ul>
        <li>
            <a href="https://gitlab.com/ultreiaio/ird-observe" title="Projet" target="_blank">Projet (GitLab)</a>
        </li>
        <li>
            <a href="http://www.gnu.org/licenses/agpl.html" title="Licence AGPL v3"
               target="_blank">Licence AGPLv3</a>
        </li>
        <li>
            Copyright 2021
            <a href="http://www.ird.fr" title="IRD" target="_blank">IRD</a>&nbsp;-&nbsp;
            Ultreia.io
            <!--            <a href="https://ultreia.io" title="Ultreia.io" target="_blank">Ultreia.io</a>-->
        </li>
    </ul>
</div>