<div id="headers" class="widget">
    <div class="widget-list widget-list-table" id="headers-view">
        <div id="headers-source">
            <table class="headers-table">
                <thead>
                <th>Header name</th>
                <th>Description</th>
                </thead>
                {{#headerDefinitions}}
                    {{{.}}}
                {{/headerDefinitions}}
            </table>
        </div>
    </div>
    <ul class="widget-tabs">
        <li class="widget-tab"><a href="#headers-view" class="widget-tab-link">Headers</a>
    </ul>
</div>