<div id="parameters" class="widget">
    <div class="widget-list widget-list-table" id="parameters-view">
        <div id="parameters-source">
            <table class="parameters-table">
                <thead>
                <th>Parameter name</th>
                <th>Description</th>
                </thead>
                {{#parameters}}
                    {{{.}}}
                {{/parameters}}
            </table>
        </div>
    </div>
    <ul class="widget-tabs">
        <li class="widget-tab"><a href="#parameters-view" class="widget-tab-link">Parameters</a>
    </ul>
</div>
