<div id="request" class="widget">
    <div class="widget-list widget-list-json" id="request-raw">
        <div>
            <pre id="request-raw-source"></pre>
        </div>
    </div>
    <div class="widget-list widget-list-json" id="request-view">
        <div>
            <pre id="request-view-source"></pre>
        </div>
    </div>
    <ul class="widget-tabs">
        <li class="widget-tab"><a href="#request-raw" class="widget-tab-link">Raw code</a>
        <li class="widget-tab"><a href="#request-view" class="widget-tab-link">Request</a>
    </ul>
</div>
<p><a href="#top" class="top" title="Up to top"></a></p>