<h4>Validation - xml files</h4>
<div id="validation-xml" class="widget">
    <div class="widget-list widget-list-validation-xml" id="validation-warning-xml">
        <div><textarea id="validation-warning-xml-source" readonly="readonly" rows="20" style="border:none;margin-top:14px;width: 99%;"></textarea></div>
    </div>
    <div class="widget-list widget-list-validation-xml" id="validation-error-xml">
        <div><textarea id="validation-error-xml-source" readonly="readonly" rows="20" style="border:none;margin-top:14px;width: 99%;"></textarea></div>
    </div>
    <ul class="widget-tabs">
        <li class="widget-tab"><a href="#validation-warning-xml" class="widget-tab-link">Warning xml file</a>
        <li class="widget-tab"><a href="#validation-error-xml" class="widget-tab-link">Error xml file</a>
    </ul>
</div>
<script type="application/javascript">loadXml("validation-error", "../validation-${contextName}-error");loadXml("validation-warning","../validation-${contextName}-warning");</script>
<p><a href="#top" class="top" title="Up to top"></a></p>
