<h4>Validation - json files</h4>
<div id="validation-create-json" class="widget">
    <div class="widget-list widget-list-json" id="validation-create-warning-json">
        <div><pre id="validation-create-warning-json-source"></pre></div>
    </div>
    <div class="widget-list widget-list-json" id="validation-create-error-json">
        <div><pre id="validation-create-error-json-source"></pre></div>
    </div>
    <ul class="widget-tabs">
        <li class="widget-tab"><a href="#validation-create-warning-json" class="widget-tab-link">Create warning file</a>
        <li class="widget-tab"><a href="#validation-create-error-json" class="widget-tab-link">Create error file</a>
    </ul>
</div>
<script type="application/javascript">loadJson("validation-create-error", "validation-create-error");loadJson("validation-create-warning", "validation-create-warning");</script>
<div id="validation-update-json" class="widget">
    <div class="widget-list widget-list-json" id="validation-update-warning-json">
       <div> <pre id="validation-update-warning-json-source"></pre></div>
    </div>
    <div class="widget-list widget-list-json" id="validation-update-error-json">
        <div> < <pre id="validation-update-error-json-source"></pre></div>
    </div>
    <ul class="widget-tabs">
        <li class="widget-tab"><a href="#validation-update-warning-json" class="widget-tab-link">Update warning file</a>
        <li class="widget-tab"><a href="#validation-update-error-json" class="widget-tab-link">Update error file</a>
    </ul>
</div>
<script type="application/javascript">loadJson("validation-update-error", "validation-update-error");loadJson("validation-update-warning", "validation-update-warning");</script>
<p><a href="#top" class="top" title="Up to top"></a></p>
