<!DOCTYPE html>
<html lang="en">

{{{headerContent}}}
<body id="top">
{{{breadcrumbContent}}}
<h2>Abstract</h2>
<p>Describes public API around data in module {{name}}.</p>
<ul>
    {{#packages}}
        <li><a href="{{name}}">package {{name}}</a></li>
    {{/packages}}
</ul>
{{{availableRequests}}}
{{{breadcrumbContent}}}
{{{footer}}}
</body>
</html>
