<!DOCTYPE html>
<html lang="en">
{{{headerContent}}}
<body id="top">
{{{breadcrumbContent}}}
<h2>Abstract</h2>
<p>Describes public API around data in module {{parent.name}} and package {{name}}.</p>
<ul>
    {{#types}}
        <li><a href="{{name}}">type {{name}}</a></li>
    {{/types}}
</ul>
{{{availableRequests}}}
{{{breadcrumbContent}}}
{{{footer}}}
</body>
</html>
