<!DOCTYPE html>
<html lang="en">
{{{headerContent}}}
<body id="top">
{{{breadcrumbContent}}}
<h2>Abstract</h2>
<p>Describes public API around {{name}}.</p>
<ul>
    {{#modules}}
        <li><a href="{{name}}">module {{name}}</a></li>
    {{/modules}}
</ul>
{{{availableRequests}}}
{{{breadcrumbContent}}}
{{{footer}}}
</body>
</html>
