<!DOCTYPE html>
<html lang="en">
{{{headerContent}}}
<body id="top">
{{{breadcrumbContent}}}
<h2>Abstract</h2>
<p>{{{title}}}</p>
<code style="font-size: 14px;font-weight: bold">{{method}} {{{pathClean}}}</code>
{{{parametersContent}}}{{{filterContent}}}{{{orderContent}}}
{{{definitionContent}}}
{{{exampleContent}}}
{{{validationContent}}}
{{{breadcrumbContent}}}
{{{footer}}}
</body>
</html>
