<!DOCTYPE html>
<html lang="en">
{{{headerContent}}}
<body id="top">
{{{breadcrumbContent}}}
<h2>Abstract</h2>
<p>Manage <b>{{name}}</b> data.</p>
{{{availableRequests}}}
<h2>Data definition</h2>
<p>Here is the definition of the <b>{{name}}</b> data.</p>
{{{definitionContent}}}
{{{validationContent}}}
{{{breadcrumbContent}}}
{{{footer}}}
</body>
</html>
